.khoa-tk-sidebar{
    width: 100%;
    .sidebar-link{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        padding: 10px 20px;
        color: #111;
        opacity: 0.8;
        transition: all 0.2s ease-in;
        font-size: 1.25rem;
        &:hover{
            background: $bg_third;
            color: #fff;
            transition: all 0.2s ease-in;
        }
        i{
            margin-right: 10px;
        }
        .not-seen-qty, .processing-qty{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $bg_first;
            margin-left: 30px;
            font-size: .75rem;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}

.account-box{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-shadow: #CCCCCC -3px -1px 17px 8px;
    border-radius: 20px;
    .tk-image{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        position: relative;
        margin-bottom: 15px;
        .image-img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        .image-hover{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #3e48fe;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            .input-change{
                display: none;
            }
            .change-image{
                text-decoration: none;
                color: #fff;
                cursor: pointer;
            }
        }
        &:hover .image-hover{
            visibility: inherit;
        }
        
    }
    .tk-information{
        color: #6d6d6d;
        a{
            text-decoration: none;
            color: #6d6d6d;
            font-size: 1.25rem;
            i{
                margin-left: 5px;
            }
        }
        .change-name{

            width: 200px;
            border: none;
            border-bottom: 1.5px solid $Color__E94560;
            outline: none;
        }
        .btn-change{
            border: none;
            outline: none;
            background: none;
            color: #1924f4;
            margin-top: 5px;
        }
    }

    .shipment-details{
        margin-left: 30px;
        .box-address{
            width: 100%;
            padding: 25px;
            border: 1px solid #a4a4a4;
            
            p.title{
                color: #6d6d6d;
                text-align: center;
                .add{
                    color: #1924f4;
                    cursor: pointer;
                    font-size: 1rem;
                }
            }
            .address-info-active{
                // css cho user info
                .user-info{
                    display: flex;
                    justify-content: space-between;
                    
                    .info-left{
                        display: flex;
                        justify-content: start;
                        .name{
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                        .using{
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            margin-left: 20px;
                            gap: 10px;
                            color: #00f435;
                        }
                    }
                    .edit-address{
                        color: #1924f4;
                        cursor: pointer;
                    }
                }
                //css cho địa chỉ

            }
        }
        .change-password{
            margin-top: 25px;
            color: #1924f4;
            a{
                text-decoration: none;
            }
        }
    }

}

.khoa-add-address{
    padding: 50px;
}

#khoa-acount-address{
    .add-new-address{
        width: 100%;
        border: 3px dashed #64646466;
        padding: 15px;
        text-align: center;
        font-size: 1.25rem;
        color: #1d1d1d66;
    }



    .address-info-01{
        // css cho user info
        border: 3 dashed #00f435;
        padding: 15px 20px;
        .user-info{
            display: flex;
            justify-content: space-between;
            
            .info-left{
                display: flex;
                justify-content: start;
                .name{
                    text-transform: uppercase;
                    font-weight: 600;
                }
                .using{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-left: 20px;
                    gap: 10px;
                    color: #00f435;
                }
            }

            .info-right{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .edit-address{
                    color: #1924f4;
                    cursor: pointer;
                    margin-right: 15px;
                }
                .delete-address{
                    text-decoration: none;
                    cursor: pointer;
                    color: red;
                }
            }
            
        }
        //css cho địa chỉ
    
    }
    .address-info-first{
        border: 3px dashed #00f435;
    }
    .address-info-second{
        border: 3px dashed #353535;
    }
    .set-default{
        text-decoration: none;
        padding: 7px 10px;
        background: #00a824;
        border-radius: 5px;
        color: #fff;
        font-size: 1rem;
    }
}

.sidebar-link.account-sidebar-active{
    background: $bg_third;
    color: #fff;
    
}

