.flash-delas{
    .on_sale{
        background-color: $bg_second;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .time_sale{
           margin-left: 30px;
           .box_time{
             span{
                color: $Color__E94560;
             }
           }
        }
    }


    // code css product card
    
}