section {
    margin-top: 3.125rem;
    .title {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $Color__0F3460;
        font-weight: 600;
        // margin-bottom: 40px;
        i {
            font-size: 1.25rem;
            color: $Color__E94560;
        }
    }
}

.logo {
    text-decoration: none;
    font-size: 2rem;
    color: $Color__E94560;
    font-weight: 500;
    .letterB {
        font-size: 3rem;
        font-weight: 600;
    }
    .letterC {
        font-size: 3rem;
        font-weight: 600;
        color: $Color__0F3460;
    }
}

.btnBox {
    padding: 10px 20px;
    border-radius: 5px;
    background: $bg_third;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease-in;
}
.btnBox:hover {
    border: 1px solid $Color__E94560;
    background: $bg_second;
    color: $Color__E94560;
    transition: all 0.5s ease-in;
}

.view_all {
    font-size: 1.25rem;
    a {
        text-decoration: none;
        color: $Color__E94560;
        &:hover {
            color: $Color__0F3460;
            text-decoration: underline;
        }
    }
}

.home-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    display: grid;
    grid-template-rows: 1fr 0.3fr;
    gap: 20px;
    background: $bg_second;
    border-radius: 5px;
    // &:hover{
    //     border: 1px solid $Color__E94560;
    // }
    .card_image {
        width: 100%;
        height: auto;
        border-radius: 10px;
        position: relative;
        img {
            width: 100%;
        }
        .sale_off {
            width: 80px;
            height: 30px;
            border-radius: 100px;
            background-color: $bg_third;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            position: absolute;
            top: -12px;
            left: -10px;
            p {
                font-size: 13px;
                font-weight: 600;
                color: #fff;
            }
        }
        .p_like {
            position: absolute;
            top: -12px;
            right: -10px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 5px;
            .p_like_sosanh {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid $Color__E94560;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $bg_second;
                color: $Color__E94560;
            }
            .p_like_heart {
                text-decoration: none;
                color: $Color__E94560;
                i {
                    font-size: 25px;
                }
            }
        }
    }
    .card_info {
        width: 100%;
        .product_name {
            font-size: 1.125rem;
            color: $Color__0F3460;
            font-weight: 600;
            text-decoration: none;
            &:hover {
                color: $Color__E94560;
            }
        }
        .product_rate {
            margin-top: 15px;
            margin-bottom: 10px;
            display: flex;
            justify-content: start;
            align-items: center;
            i {
                margin-right: 5px;
                color: darkorange;
                font-size: 1rem;
            }
        }
        .product_price {
            color: $Color__E94560;
            font-size: 1.125rem;
        }
    }
}

.img__full {
    width: 100%;
    height: auto;
}

.khoa-bc {
    background-color: #d6d6d6;
    display: flex;
    justify-content: flex-start;
    padding: 8px 9%;
    .bc-items {
        text-decoration: none;
        padding: 0 10px;
        color: #565656;
        &:hover {
            color: #4f23ff;
        }
    }
    .bc-divider {
        i {
            font-size: 0.825rem;
            color: $Color__0F3460;
        }
    }
    .bc-item.active {
        text-decoration: none;
        padding: 0 10px;
        color: $Color__0F3460;
        font-weight: 600;
        &:hover {
            color: #4f23ff;
        }
    }
}

.bg-white {
    background-color: $bg_second;
    padding: 50px 0;
}
.bg-white-0 {
    background-color: $bg_second;
}

.error-message,
.success-message {
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.error-message {
    background-color: #fcc9c9;
}

.success-message {
    background-color: #b5ffd4;
}

.cus-checked {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.product-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .card {
        width: 100%;
        .card-image {
            width: 100%;
            .image {
                width: 100%;
            }
        }
    }
}
