.phuc-banner {
    justify-content: center;
    display: flex;

    .banner-image {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .img_banner {
        border-radius: 5%;
        max-width: 100%;
        height: 150px;
    }
}

.phuc-text-ban {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.image-ban-div {
    width: 100%;
    height: 410px;
    border: 1px solid rgb(96, 95, 95);
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;

    .image-ban {
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
        cursor: pointer;

        &:hover {
            .bg-image-hover {
                visibility: inherit;
            }
        }

        .img-ban {
            max-width: 100%;
            max-height: 100%;
        }

        .bg-image-hover {
            width: 100%;
            height: 100%;
            background: rgba(52, 52, 52, 0.2);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            .delete-icon {
                width: 50px;
                height: 50px;
                border: 2px solid #fff;
                color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.25rem;

                &:hover {
                    background: #fff;
                    color: #E94560;
                }
            }
        }
    }
}

.phuc-show {
    background: $bg_second;
    margin-top: 15px;
    height: 490px;

    .card_side {
        padding: 15px 0;
        border-radius: 10px;
        box-shadow: #C9C9C9 -2px 1px 13px 7px;

        .sideShow-box {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;
            padding: 10px 25px;
            text-decoration: none;
            color: rgba(17, 17, 17, 0.8);
            transition: all 0.3s ease-in;
            &:hover {
                background-color: $bg_third;
                color: #fff;
                transition: all 0.5s ease-in;
            }
        }
    }

    #bannerShow {
        padding: 30px;

        .bannerShow-box {
            padding: 20px 30px;

            .bannerShow-title {
                text-transform: uppercase;
                font-size: 2.8125rem;
                color: $Color__E94560;
                font-weight: 600;
            }

            .bannerShow-desc {
                font-size: 0.875rem;
                font-weight: 500;
                text-align: justify;
                margin-bottom: 50px;
            }
            .btnShowBox {
                margin-top: 30px;
                padding: 10px 20px;
                border-radius: 5px;
                background: $bg_third;
                text-decoration: none;
                color: #fff;
                transition: all 0.5s ease-in;
                .btnShowBox:hover {
                    border: 1px solid $Color__E94560;
                    background: $bg_second;
                    color: $Color__E94560;
                    transition: all 0.5s ease-in;
                }
            }
        }
    }
}
