// Khai báo màu background

$bg_first: #0F3460;
$bg_second: #fff;
$bg_third: #E94560;
$bg_fourth: #E9ECEE;

// Khai báo màu chữ
$Color__E94560: #E94560;
$Color__0F3460: #0F3460;



// Khai báo box-shadow
$box__shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);