.modal__acount {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20;
}

.actived_status {
  background: rgb(3, 237, 58);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.clocked_status {
  background: rgb(107, 107, 107);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.khoa-admin {
  display: flex;
  gap: 10px;
}
.khoa-admin .admin-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.khoa-admin .img_admin {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.khoa-sup-title {
  color: red;
}

.image-preview-div {
  width: 100%;
  height: 250px;
  border: 1px solid rgb(96, 95, 95);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.image-preview-div .image-preview {
  width: 100%;
  position: relative;
  cursor: pointer;
}
.image-preview-div .image-preview:hover .bg-image-hover {
  visibility: inherit;
}
.image-preview-div .image-preview .img-preview {
  width: 100%;
  height: 100%;
}
.image-preview-div .image-preview .bg-image-hover {
  width: 100%;
  height: 100%;
  background: rgba(52, 52, 52, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-preview-div .image-preview .bg-image-hover .delete-icon {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.image-preview-div .image-preview .bg-image-hover .delete-icon:hover {
  background: #fff;
  color: #E94560;
}

.errorMsg {
  color: red;
  font-style: italic;
}

.phuc-acount {
  justify-content: center;
  display: flex;
  gap: 10px;
}
.phuc-acount .acount-image {
  width: 70px;
  height: 70px;
  border-radius: 0%;
}
.phuc-acount .img_acount {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.phuc-acount .create-image {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.phuc-acount .img_create {
  border-radius: 5%;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  width: 350px;
  max-width: 100%;
  height: 350px;
}

.phuc-showAcount {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-top: 100px;
}
.phuc-showAcount .show-image {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.phuc-showAcount .img_show {
  border-radius: 5%;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  width: 350px;
  max-width: 100%;
  height: 350px;
}

.phuc-banner {
  justify-content: center;
  display: flex;
}
.phuc-banner .banner-image {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.phuc-banner .img_banner {
  border-radius: 5%;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  width: auto;
  max-width: 100%;
  height: 500px;
}/*# sourceMappingURL=admin.css.map */